@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif !important;
}

img {
	width: 100%;
	height: auto;
}

.btn {
	@apply relative text-black rounded-md font-bold tracking-wide text-[11px] py-0.5 px-3 lg:text-[13px] lg:py-1 lg:px-3.5;
}

.card-shadow {
	box-shadow: 5px 5px rgb(12, 12, 12);
}

.course-duration::before {
	position: absolute;
	content: '';
	background: #f0e914;
	height: 20px;
	width: 20px;
	/* Added lines */
	top: 0.3rem;
	right: 1.7rem;
	transform: rotate(45deg);
	z-index: -1;
}

.btn-shadow {
	box-shadow: 4px 4px rgb(12, 12, 12);
}

.star-shadow {
	box-shadow: 10px black;
}

.scroll-bar::-webkit-scrollbar {
	width: 10px;
}

.scroll-bar::-webkit-scrollbar-thumb {
	background: #0ca1f4;
	border-radius: 9999px;
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
	background: #0a8bd0;
	border-radius: 9999px;
}

.courses:nth-child(5n-1) {
	grid-column: span 3;
}

.courses:nth-child(5n) {
	grid-column: span 3;
}

@media (max-width: 1023px) {
	.courses:nth-child(3n) {
		grid-column: span 6 !important;
	}
	.courses:nth-child(3n) .under-courses {
		flex-direction: row;
	}
}
